
.verde-corsivo {
    background-color: green;
    padding: 1rem;
    text-align: right;
    font-style: italic;
  }
  
  /* Padding grosso su schermi grandi (es. larghezza > 1024px) */
  @media (min-width: 1024px) {
    .verde-corsivo {
      padding: 4rem;
    }
  }
  

  .grigio{
    background-color: #c8c8c8;
    color: #252525;
    padding: 5% 20% 5% 20%;
    text-align: justify;
  }