
body { 
    font-family: Arial, 
    sans-serif; 
    text-align: center; 
    padding: 20px; 
}
#numero, #significato { 
    font-size: 24px; 
    margin-top: 20px; 
    margin-bottom: 2%;
}
button { 
    padding: 10px 20px; 
    font-size: 18px; 
}